.App {
  text-align: center;
}

.fieldRequired {
  color: red;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  vertical-align: text-top;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.nav-img {
  max-width: 19rem;
}

.no-top-border th {
  border: none;
}

/* #capacityAgeGroup2to3 {
  text-align: center;
}

#capacityAgeGroup3to6 {
  text-align: center;
} */

.swal-button--confirm {
  background-color:#007bff;
}


/* Neveikia font-size: em */
.swal-text {
  font-size: 16px;
  color: #000;
  text-align: center;
}

.form-control {
  font-size: 0.875rem;
}

.form-group, .row {
  font-size: 0.875rem;
}

.table {
  font-size: 0.875rem;
  
}

.pb-3, .py-3 {
  font-size: 1rem;
}

p {
  font-size: 0.875rem;
}

.navbar-light.navbar-nav.nav-link.active{
  font-size:1rem;
}

.deleteColumn {
  width: 11%;
}

.formHeader {
  padding-top: 4%;
}